<header>
  <%if user_signed_in? == false %>
    <%= link_to "サインアップ", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
  <% end%>
  <%= link_to "問題を作成する", new_quiz_path %>
</header>

<div class="container">
  <% @quizzes.each_with_index do |quiz, i| %>
    <%= i+1 %>
    <%= link_to quiz.title, "/quizzes/#{quiz.id}"%>
  <% end%>
</div>
<div class="row">
  <div class="col-5 m-1">
<!-- ここに入力-->
    <textarea name="article" id="markdown_editor_textarea" cols="30" rows="30" class="form-control"></textarea>
  </div>
  <div class="col-6 m-1 border">
<!-- ここに出力される -->
    <div id="markdown_preview"></div>
  </div>
</div>
<%# <div id="content"></div> %>
<script>
//   console.log(marked('I am using __markdown__.'));
//   document.getElementById('content').innerHTML =
//       marked('# Marked in browser\n\nRendered by **marked**.');
// $(document).ready(function() {
//   alert('アラーートだよ');
//   var quizzes = gon.quizzes;
//     marked.setOptions({
//     // code要素にdefaultで付くlangage-を削除
//     langPrefix: '',
//     // highlightjsを使用したハイライト処理を追加
//     highlight: function (code, lang) {
//       return hljs.highlightAuto(code, [lang]).value
//     }
//   });
//   $('#markdown_editor_textarea').keyup(function () {
//     var html = marked($(this).val());
//     $('#markdown_preview').html(html);
//     console.log('keyup');
//   });

// });
$(function () {
  marked.setOptions({
    // code要素にdefaultで付くlangage-を削除
    langPrefix: '',
    // highlightjsを使用したハイライト処理を追加
    highlight: function (code, lang) {
      return hljs.highlightAuto(code, [lang]).value
    }
  });
  $('#markdown_editor_textarea').keyup(function () {
    var html = marked($(this).val());
    $('#markdown_preview').html(html);
  });
});
</script>