
<div class="container mt-5">
  <div class="form-container">
    <%= form_with model: @quiz do |f| %>
      <div class="clearfix">
        <div class="form-group">
          <input type="text" name="language" id="lang">
        </div>
        <ul class="result">
        </ul>
        <%= f.label "問題のタイトル" %>
        <div class="btn btn-sm btn-outline-dark" id="all-reset">ALL RESET</div>
        <div class="title-form">
          <%= f.text_field :title, class:"form-control" %>
        </div>
        <div class="question mt-3 mb-3">
          <%= f.label "問題文" %>
          <div class="btn btn-sm btn-outline-dark" id="question-reset">RESET</div>
          <div class="question-form">
            <%= f.text_area :question, class:"form-control ",id:"question_textarea" %>
          </div>
        </div>
        <%= f.label "解答" %>
        <div class="btn btn-sm btn-outline-dark" id="answer-reset">RESET</div>
        <div class="row justify-content-between mb-3">
          <div class="col-5 d-flex">
            <%= f.text_area :answer ,id: "markdown_editor_textarea", class:"form-control"%>
          </div>
            <div class="col-6 mr-3 border">
        <!-- ここに出力される -->
              <div id="markdown_preview"></div>
            </div>
        </div>
      </div>
      <div class="btn float-right">
        <%= f.submit "登録する"%>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(function () {

    marked.setOptions({
      // code要素にdefaultで付くlangage-を削除
      langPrefix: '',
      // highlightjsを使用したハイライト処理を追加
      highlight: function (code, lang) {
        return hljs.highlightAuto(code, [lang]).value
      }
    });
    $('#markdown_editor_textarea').keyup(function () {
      var html = marked($(this).val());
      $('#markdown_preview').html(html);
    });
  });
</script>